::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ADABAB;
}

::-webkit-scrollbar-track {
    background: #EFEFEF;
}

html,
body {
    font-family: "Roboto", sans-serif;
    overflow: visible;
}

#splashScreen {
    background-color: #042D3C;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
}

.splash-logo {
    position: absolute;
    left: 50%;
    top: 38%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    color: white;
    font-size: 70px;
    margin: 0;
    max-height: 100%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.splash-logo i {
    display: inline;
}

.splash-logo i:first-child {
    margin: 0px 6px 0 -3px;
}

.splash-logo i:last-child {
    margin: 0 2px 0 -9px;
}

.cssload-thecube {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    top: 64%;
    left: 51%;
    position: absolute;
    transform: rotateZ(45deg);
    -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.cssload-thecube .cssload-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 160, 199);
    animation: cssload-fold-thecube 2.76s infinite linear both;
    -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
}

.cssload-thecube .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
}

.cssload-thecube .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
}

.cssload-thecube .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
}

.cssload-thecube .cssload-c2:before {
    animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
}

.cssload-thecube .cssload-c3:before {
    animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
}

.cssload-thecube .cssload-c4:before {
    animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
}

@keyframes cssload-fold-thecube {
    0%,
    10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

#background {
    background: url('../img/back2.jpg') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.brand-logo {
    margin: 0;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.brand-logo i {
    display: inline;
}

.brand-logo i:first-child {
    margin: 0px 3px 0 0px;
}

.brand-logo i:last-child {
    margin: 0 2px 0 -2px;
}

nav {
    background-color: #083E54;
    border: 1px solid #042D3E;
}

nav .nav-wrapper {
    padding: 0 30px;
}

.main-fab {
    bottom: 30px;
    right: 25px;
}


/* CARD CSS START */

.firstNotifier {
    text-align: center;
    background-color: rgba(8, 62, 84, 0.74);
    color: white;
    position: relative;
    width: 200px;
    margin: 8px auto;
    line-height: 36px;
}

.firstNotifier i {
    margin: -4px 0 0 0;
    display: inline-block;
    vertical-align: middle;
}

.cards-con {
    margin: 5px auto;
}

.card {
    margin: 4px 0;
    width: 300px;
    min-height: 150px;
    color: black;
    background-color: rgba(236, 236, 236, 0.93);
    border-radius: 2px;
}

.title {
    margin: 0px 5px;
    font-size: 22px;
    font-weight: 300;
    border-bottom: 1px solid rgba(128, 128, 128, 0.15);
    line-height: 38px;
}

.message {
    margin: 5px 5px 35px 5px;
    font-size: 14px;
    font-weight: 400;
}

.frequency {
    padding: 5px;
    font-size: 12px;
    color: #696969;
    bottom: 0px;
    position: absolute;
}

.frequency i {
    position: absolute;
    bottom: 7px;
}

.frequency label {
    margin-left: 20px;
    color: #696969;
}

.action-buttons {
    height: 30px;
    bottom: 0px;
    position: absolute;
    width: 96%;
    margin: 0 5px;
    border-top: 1px solid rgba(128, 128, 128, 0.15);
}

.action-buttons i {
    font-size: 19px;
    color: #424242;
    opacity: 0.5;
    float: right;
    margin: 5px 0 0 8px;
}

.action-buttons i:first-child,
.action-buttons i:last-child {
    font-size: 21px;
}

.action-buttons i:hover {
    opacity: 1 !important;
    cursor: pointer;
}


/* CARD CSS END */


/* LOGIN PAGE START */

.login-con {
    position: relative;
    width: 400px;
    margin: 12px auto;
    height: 400px;
    background-color: white;
}


/* LOGIN PAGE END */


/* ABOUT PAGE SPECIFIC START */

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 4em;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
    color: #eeeeee;
}

.share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}

.share-btn.twitter {
    background: #55acee;
}

.share-btn.google-plus {
    background: #dd4b39;
}

.share-btn.facebook {
    background: #3B5998;
}

.share-btn.linkedin {
    background: #4875B4;
}

.share-btn.email {
    background: #444444;
}

.share-btn.stumbleupon {
    background: #EB4823;
}

.share-btn.reddit {
    background: #ff5700;
}


/* ABOUT PAGE SPECIFIC END */
